# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import pandas as pd
import requests

In [8]:
# city name 'barcelona' did not work. instead company name 'bicing'
company = 'bicing'
api_url = f'https://api.citybik.es/v2/networks/{company}'

bicing_response = requests.get(api_url)
bicing_data = bicing_response.json()

In [ ]:
with open('bikes_output.json', 'w') as json_file:
     json.dump(bicing_data, json_file)
        
# saved to .json file
# found in files: data > bikes_output_.json

In [9]:
response.status_code

200

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [10]:
# df = pd.DataFrame.from_dict(data) 
# ^ not working

# directly extract relevant information
network_info = bicing_data.get('network', {})
stations = network_info.get('stations', [])

Put your parsed results into a DataFrame.

In [11]:
bikes_df = pd.DataFrame(stations, columns=['name', 'latitude', 'longitude', 'free_bikes', 'empty_slots'])
bikes_df

,name,latitude,longitude,free_bikes,empty_slots
0,"C/ CARDENAL TEDESCHINI, 13",41.425364,2.185207,14,18
1,"RAMBLA DE L'ONZE DE SETEMBRE, 69",41.430000,2.190246,19,6
2,"PG. TORRAS I BAGES, 129",41.443365,2.190630,6,18
3,"C/ SANT OLEGUER, 2",41.377532,2.170732,15,3
4,"AV. PARAL.LEL, 194",41.375116,2.152309,15,9
...,...,...,...,...,...
501,"C / INDÚSTRIA, 10",41.402208,2.164903,8,12
502,"C/ TURÓ BLAU, 1-3",41.438822,2.176783,5,18
503,"C/ D'ALACANT, 12",41.400078,2.132691,5,18
504,"C/ ALFAMBRA, 2 | AV. DIAGONAL",41.385641,2.113096,1,22
505,"C/ SANT ANTONI MARIA CLARET, 214",41.410844,2.174057,16,4