# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import pandas as pd
import requests

In [ ]:
# city name 'barcelona' did not work. instead company name 'bicing'
company = 'bicing'
api_url = f'https://api.citybik.es/v2/networks/{company}'

response = requests.get(api_url)
data = response.json()

In [6]:
response.status_code

200

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [4]:
# df = pd.DataFrame.from_dict(data) 
# ^ not working

# directly extract relevant information
network_info = data.get('network', {})
stations = network_info.get('stations', [])

Put your parsed results into a DataFrame.

In [5]:
bikes_df = pd.DataFrame(stations, columns=['name', 'longitude', 'latitude', 'free_bikes', 'empty_slots'])
bikes_df

,name,longitude,latitude,free_bikes,empty_slots
0,"C/ CARDENAL TEDESCHINI, 13",2.185207,41.425364,4,28
1,"RAMBLA DE L'ONZE DE SETEMBRE, 69",2.190246,41.430000,8,17
2,"PG. TORRAS I BAGES, 129",2.190630,41.443365,6,18
3,"C/ SANT OLEGUER, 2",2.170732,41.377532,10,8
4,"AV. PARAL.LEL, 194",2.152309,41.375116,21,3
...,...,...,...,...,...
502,"C/ VILÀ I VILÀ, 45",2.170955,41.373386,21,1
503,"C/REPÚBLICA DOMINICANA,25(CENTRE COMERCIAL)",2.197069,41.439929,19,13
504,"PG. ZONA FRANCA, 9",2.145096,41.351324,30,6
505,"C / INDÚSTRIA, 10",2.164903,41.402208,20,0
506,"C/ TURÓ BLAU, 1-3",2.176783,41.438822,2,21